[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rlcard = {extras = ["tensorflow"], version = "*"}
agents = { editable = true, path = "./agents" }
ipython = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
train-ppo = "python3 nolimit_holdem_ppo.py"