[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rlcard = {extras = ["tensorflow"], version = "*"}
agents = { editable = true, path = "./agents" }

[dev-packages]

[requires]
python_version = "3.7"
